[Unit]
Description=Test process monitoring service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/monitor_test.sh

[Install]
WantedBy=multi-user.target